<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <cookie>
                <!-- Cookie SameSite=None -->
                <cookie_use_same_site_none>1</cookie_use_same_site_none>
                <cookie_force_secure>1</cookie_force_secure>
                <cookie_same_site_blacklist><![CDATA[Chrome/4
Chrome/5
Chrome/6
CPU iPhone OS 12
iPad; CPU OS 12
Macintosh[AND]Intel Mac OS X 10_14[AND]Safari[AND]^((?!Chrome).)*$
]]></cookie_same_site_blacklist>
                <!--/Cookie SameSite=None -->
            </cookie>
        </web>
    </default>
</config>
